/* Variables */

/* sizes */
$unit: 16px;
$slim: 8px;
$wide: 20px;
$cutoff: 768px;

/* font sizes */
$body-size: $wide;
$title-size: 4*$unit;

/* pallet */
$text: rgba(0, 0, 0, .9);

$light-orange: #ffc578;
$cream: #ffeacf;
$red: #ba3845;
$blue: #38526b;
$grey: #5e5b56;


h1, h2, h3, h4, h5, h6 {
  font-family: serifa, serif;
  font-weight: bold;
}

body {
  font-family: "proxima-nova", Arial, Helvetica, sans-serif;
  font-size: $body-size;
  color: $text;
  width: 100%;
  margin: 0px;
}

h1 {
  font-size: $title-size;
  text-align: center;
  margin: $title-size 0;
}

h2 {
  font-size: 3*$unit;
  margin-top: 3*$unit;
}

p {
  margin: $unit;
}

nav {
  ul {
    list-style-type: none;
    background-color: $blue;
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
  }

  li {
    float: right;

    a {
      text-align: center;
      width: 4*$unit;
      color: #fff;
      display: block;
      padding: $slim;
      text-decoration: none;

      &:hover {
        font-weight: bold;
      }
    }
  }
}


img {
  width: 100%;
  margin-bottom: 2*$unit;
}

.main, .header {
  padding: $unit;
  margin-right: auto;
  margin-left: auto;
}

.block {
  float: left;
  display: block;
  box-sizing: border-box;
  padding: $unit;
}

.footer {
  border-top: 1px solid $red;
  text-align: center;
  margin: $unit;
  padding: $unit;
}

.standout {
  background-color: $red;
  color: $cream;
  font-size: $wide;
  font-weight: 600;
  padding: $unit;
}

.desktop {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media (min-width: $cutoff) {
  .desktop {
    display: inherit;
  }
  .mobile {
    display: none;
  }

  .main, .header {
    min-width: $cutoff - $unit;
    max-width: 1.2*$cutoff;
  }

  .block-half {
    max-width: 50%;
  }

  .block-third {
    max-width: 33.333%;
  }
}
